body {
    margin: 0;
    padding: 0;
}

nav{
  width: 100%;
  height: 50px;
  background-color: #38A1F3;
  position: fixed;
  top:0;
  left:0;
  z-index: 2;
  right: 0;
}


.tab{
  display: block;
  float: left;
  text-decoration: none;
  font-family: 'Oswald', sans-serif;
  font-size: 15px;
  color: #FFFFFF;
  padding-top: 15px;
  padding-right: 10px;
  padding-bottom: 15px;
  padding-left: 10px;
  margin-left: 42px;
  margin-right: 42px;

  /*
  background-color: #17b0cf;
    border: 1px solid #000;*/
}
.tab:hover{
  color: #97E3FF;
}
.welcome{
  position: absolute;
  height: 200px;
  top:40px;
  left: 0;
  right: 0;
  background-color: #38A1F3;
  z-index: 1;
}

.welcome-text{
  position: absolute;
  top: 70px;
  left:100px;
  font-family: 'Courgette';
  font-size: 40px;
  color: #FFFFFF;

}
.home{
   position: relative;
   width: 80%;
   height: 300px;
   top:300px;
   margin-left: 130px;
   /* border: 1px solid black; */

}
.home p{
  font-family: 'Oswald',sans-serif;
  font-size: 40px;
}
.aboutme{
  position: relative;
  top: 700px;
  width: 80%;
  margin-left: 130px;
  margin-bottom: 340px;
  /* border: 1px solid black; */

}
h2{
  text-align: center;
  font-family:  'Boogaloo', cursive;
  font-size: 40px;
}
.aboutme p{
  font-family: 'Oswald',sans-serif;
  font-size: 30px;
}

.aboutme-tag{
  position: absolute;
  top : 800px;
}

.contact{
  position: relative;
  top: 800px;
  margin-bottom: 340px;
}
.contact p{
  position: relative;
  font-family: 'Oswald',sans-serif;
  font-size: 30px;
  margin-left: 500px;
}
.contact-tag{
  position: absolute;
  top: 1400px;
}

.social-icons {
  text-align: center;
  }
.social-icons li {
  display:inline-block;
  list-style-type:none;
  -webkit-user-select:none;
  -moz-user-select:none;
  }
.social-icons li a {
  border-bottom: none;
  }
.social-icons li img {
  width:50px;
  height:50px;
  margin-right: 20px;
}
.gallary{
  position: relative;
  top: 700px;
  margin-bottom: 400px;
}
.row{
  width: 100%;
  text-align: center;
}

.row img{
  display: inline-block;
  height: 200px;
  width: 200px;
  position: relative;
  left: 50;
  border: 2px solid black;
  margin: 20px;
}
.gallary-tag{
  position: absolute;
  top: 2070px;
}
